.DS_store
*/build/*

__pycache__
*.pyc
test-files/SavedData\OpenBCI-RAW-aaron+eva.txt
test-files/SavedData\OpenBCI-RAW-friday_test.txt
test-files/SavedData\OpenBCI-RAW-aaron+eva.txt
test-files/SavedData\OpenBCI-RAW-friday_test.txt
